all_analysis_data.txt
all_analysis_data.csv
fixed.csv
malware_dataset
*Official Development/Dataset/Clustering/Malicious*
*Official Development/Dataset/Clustering/Benign*
*Official Development/Dataset/.memory/*
*Official Development/Dataset/.memory/*
*Official Development/Dataset/IB/*
*Official Development/Dataset/TB/*
Official Development/Dataset/IB/IB_CATB.csv
Official Development/Dataset/IB/IB_LGBM.csv
Official Development/Dataset/IB/IB_Test_CATB.csv
Official Development/Dataset/IB/IB_Test_LGBM.csv
Official Development/Dataset/TB/TB_CATB.csv
Official Development/Dataset/TB/TB_LGBM.csv
Official Development/Dataset/TB/TB_Test_CATB.csv
Official Development/Dataset/TB/TB_Test_LGBM.csv
Official Development/Dataset/vt-download/target_dlsu.csv
Official Development/Dataset/vt-download/target_mhidden.csv
Official Development/Dataset/vt-download/target_netflix.csv
Official Development/Dataset/vt-download/target_nexus.csv
Official Development/Dataset/vt-download/target_tustin1.csv
Official Development/Dataset/vt-download/target_tustin1_filled.csv
Official Development/Dataset/vt-download/target_tustin2.csv
Official Development/Dataset/vt-download/tracker.xlsx
Official Development/Dataset/vt-download/VT-Search.py
Official Development/Dataset/vt-download/VT-Search_dlsu.ipynb
Official Development/Dataset/vt-download/VT-Search_mhidden.ipynb
Official Development/Dataset/vt-download/VT-Search_netflix.ipynb
Official Development/Dataset/vt-download/VT-Search_nexus.ipynb
Official Development/Dataset/vt-download/VT-Search_tustin1.ipynb
Official Development/Dataset/vt-download/VT-Search_tustin2.ipynb
Official Development/Dataset/Analysis/Manual_DBSCAN_Encoded_Clustering_w_FalseLabels.csv
Official Development/Dataset/Analysis/Manual_DBSCAN_Encoded_Clustering.csv
Official Development/GBDT_Evaluation/Dataset/CATB_IB.csv
Official Development/GBDT_Evaluation/Dataset/CATB_IB_Test.csv
Official Development/GBDT_Evaluation/Dataset/CATB_TB.csv
Official Development/GBDT_Evaluation/Dataset/CATB_TB_Test.csv
Official Development/GBDT_Evaluation/Dataset/LGBM_IB.csv
Official Development/GBDT_Evaluation/Dataset/LGBM_IB_Test.csv
Official Development/GBDT_Evaluation/Dataset/LGBM_TB.csv
Official Development/GBDT_Evaluation/Dataset/LGBM_TB_Test.csv
Official Development/Dataset/oliveira_labelled_str.csv
Official Development/Dataset/oliveira_labelled_str_wfalse.csv
Official Development/GBDT_Evaluation/Dataset/M-CATB_IB.csv
Official Development/GBDT_Evaluation/Dataset/M-CATB_TB.csv
Official Development/GBDT_Evaluation/Dataset/M-LGBM_IB.csv
Official Development/GBDT_Evaluation/Dataset/M-LGBM_TB.csv
Official Development/Dataset/Analysis/Manual_KMeans_Clustering.csv
Official Development/Dataset/Analysis/Manual_KMeans_Encoded_Clustering.csv
Official Development/Extensive Model Test/Models/CATB/CATB_Training_Log.txt
Official Development/Extensive Model Test/Models/CATB/CATB_Tuning_Log.txt
Official Development/Extensive Model Test/Models/CATB/CatBoost Graph.xlsx
Official Development/Extensive Model Test/Models/CATB/CatBoost Graphs.pdf
Official Development/Extensive Model Test/Models/CATB/Default/CATB IB AUC.png
Official Development/Extensive Model Test/Models/CATB/Default/CATB IB Binary.png
Official Development/Extensive Model Test/Models/CATB/Default/CATB IB Precision.png
Official Development/Extensive Model Test/Models/CATB/Default/CATB TB AUC.png
Official Development/Extensive Model Test/Models/CATB/Default/CATB TB Binary.png
Official Development/Extensive Model Test/Models/CATB/Default/CATB TB Precision.png
Official Development/Extensive Model Test/Models/CATB/Default/Graph 100/CATB IB AUC 100.png
Official Development/Extensive Model Test/Models/CATB/Default/Graph 100/CATB IB Binary 100.png
Official Development/Extensive Model Test/Models/CATB/Default/Graph 100/CATB IB Precision 100.png
Official Development/Extensive Model Test/Models/CATB/Default/Graph 100/CATB TB AUC 100.png
Official Development/Extensive Model Test/Models/CATB/Default/Graph 100/CATB TB Binary 100.png
Official Development/Extensive Model Test/Models/CATB/Default/Graph 100/CATB TB Precision 100.png
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB.model
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB__ConfMatrix.png
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB_ClassReport.txt
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB_TRAINDIR/catboost_training.json
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB_TRAINDIR/experiment.cbsnapshot
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB_TRAINDIR/learn/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB_TRAINDIR/learn_error.tsv
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB_TRAINDIR/test/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB_TRAINDIR/test_error.tsv
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_IB_TRAINDIR/time_left.tsv
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB.model
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB__ConfMatrix.png
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB_ClassReport.txt
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB_TRAINDIR/catboost_training.json
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB_TRAINDIR/experiment.cbsnapshot
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB_TRAINDIR/learn/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB_TRAINDIR/learn_error.tsv
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB_TRAINDIR/test/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB_TRAINDIR/test_error.tsv
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TB_TRAINDIR/time_left.tsv
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TREE/IB_Source.svg
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TREE/IB_Tree.png
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TREE/IB_Tree.svg
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TREE/TB_Source.svg
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TREE/TB_Tree.png
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TREE/TB_Tree.svg
Official Development/Extensive Model Test/Models/CATB/Default/RYZEN3b_CATB_TREE/Thumbs.db
Official Development/Extensive Model Test/Models/CATB/Default/Thumbs.db
Official Development/Extensive Model Test/Models/CATB/Thumbs.db
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/Thumbs.db
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/tuned_catb_ib_auc.PNG
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/tuned_catb_ib_logloss.PNG
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/tuned_catb_ib_prec.PNG
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/tuned_catb_tb_auc.PNG
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/tuned_catb_tb_logloss.PNG
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/tuned_catb_tb_prec.PNG
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB.model
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB__ConfMatrix.png
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB_ClassReport.txt
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB_TRAINDIR/catboost_training.json
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB_TRAINDIR/experiment.cbsnapshot
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB_TRAINDIR/learn/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB_TRAINDIR/learn_error.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB_TRAINDIR/test/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB_TRAINDIR/test_error.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_IB_TRAINDIR/time_left.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB.model
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB__ConfMatrix.png
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB_TRAINDIR/catboost_training.json
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB_TRAINDIR/experiment.cbsnapshot
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB_TRAINDIR/learn/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB_TRAINDIR/learn_error.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB_TRAINDIR/test/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB_TRAINDIR/test_error.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TB_TRAINDIR/time_left.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TREE/IB_Tree.svg
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TREE/TB_Tree.svg
Official Development/Extensive Model Test/Models/CATB/Tuned/Auto Tuned/TUNED_RYZEN3b_CATB_TREE/Thumbs.db
Official Development/Extensive Model Test/Models/CATB/Tuned/Graph 100/T CATB IB AUC 100.png
Official Development/Extensive Model Test/Models/CATB/Tuned/Graph 100/T CATB IB Binary 100.png
Official Development/Extensive Model Test/Models/CATB/Tuned/Graph 100/T CATB IB Precision 100.png
Official Development/Extensive Model Test/Models/CATB/Tuned/Graph 100/T CATB TB AUC 100.png
Official Development/Extensive Model Test/Models/CATB/Tuned/Graph 100/T CATB TB Binary 100.png
Official Development/Extensive Model Test/Models/CATB/Tuned/Graph 100/T CATB TB Precision 100.png
Official Development/Extensive Model Test/Models/CATB/Tuned/T CATB IB AUC.png
Official Development/Extensive Model Test/Models/CATB/Tuned/T CATB IB Binary.png
Official Development/Extensive Model Test/Models/CATB/Tuned/T CATB IB Precision.png
Official Development/Extensive Model Test/Models/CATB/Tuned/T CATB TB AUC.png
Official Development/Extensive Model Test/Models/CATB/Tuned/T CATB TB Binary.png
Official Development/Extensive Model Test/Models/CATB/Tuned/T CATB TB Precision.png
Official Development/Extensive Model Test/Models/CATB/Tuned/Thumbs.db
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB.model
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB__ConfMatrix.png
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB_ClassReport.txt
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB_TRAINDIR/catboost_training.json
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB_TRAINDIR/experiment.cbsnapshot
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB_TRAINDIR/learn/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB_TRAINDIR/learn_error.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB_TRAINDIR/test/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB_TRAINDIR/test_error.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_IB_TRAINDIR/time_left.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB.model
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB__ConfMatrix.png
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB_ClassReport.txt
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB_TRAINDIR/catboost_training.json
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB_TRAINDIR/experiment.cbsnapshot
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB_TRAINDIR/learn/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB_TRAINDIR/learn_error.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB_TRAINDIR/test/events.out.tfevents
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB_TRAINDIR/test_error.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TB_TRAINDIR/time_left.tsv
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TREE/IB_Source.svg
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TREE/IB_Tree.png
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TREE/IB_Tree.svg
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TREE/TB_Source.svg
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TREE/TB_Tree.png
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TREE/TB_Tree.svg
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_Manual_RYZEN3b_CATB_TREE/Thumbs.db
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_RYZEN3b_CATB_TB_ClassReport.txt
Official Development/Extensive Model Test/Models/CATB/Tuned/TUNED_RYZEN3b_CATB_TREE/Thumbs.db
Official Development/Extensive Model Test/Models/CATB/Tuning/CVRes_1710513249.6456437.csv
Official Development/Extensive Model Test/Models/CATB/Tuning/CVRes_1710618578.9135852.csv
Official Development/Extensive Model Test/Models/CATB/Tuning/Manual/CVRes_1710513249.6456437.csv
Official Development/Extensive Model Test/Models/CATB/Tuning/Manual/CVRes_1710618578.9135852.csv
Official Development/Extensive Model Test/Models/CATB/Tuning/Manual/RYZEN3b_CATB_IB.tune
Official Development/Extensive Model Test/Models/CATB/Tuning/Manual/RYZEN3b_CATB_IB_Tune_CVRes.xlsx
Official Development/Extensive Model Test/Models/CATB/Tuning/Manual/RYZEN3b_CATB_TB.tune
Official Development/Extensive Model Test/Models/CATB/Tuning/Manual/RYZEN3b_CATB_TB_Tune_CVRes.xlsx
Official Development/Extensive Model Test/Models/CATB/Tuning/RYZEN3b_CATB_IB.tune
Official Development/Extensive Model Test/Models/CATB/Tuning/RYZEN3b_CATB_IB_Tune_CVRes.csv
Official Development/Extensive Model Test/Models/CATB/Tuning/RYZEN3b_CATB_TB.tune
Official Development/Extensive Model Test/Models/CATB/Tuning/RYZEN3b_CATB_TB_Tune_CVRes.csv
Official Development/Extensive Model Test/Models/CATB/Tuning/RYZEN3b_IB_CATB_HYPERPARAMS.png
Official Development/Extensive Model Test/Models/CATB/Tuning/RYZEN3b_IB_CATB_ITERATIONS.png
Official Development/Extensive Model Test/Models/CATB/Tuning/RYZEN3b_TB_CATB_HYPERPARAMS.png
Official Development/Extensive Model Test/Models/CATB/Tuning/RYZEN3b_TB_CATB_ITERATIONS.png
Official Development/Extensive Model Test/Models/CATB/Tuning/Thumbs.db
Official Development/Extensive Model Test/Models/LGBM/Default/Graph_100/RYZEN3b_LGBM_IB_auc_100.png
Official Development/Extensive Model Test/Models/LGBM/Default/Graph_100/RYZEN3b_LGBM_IB_average_precision_100.png
Official Development/Extensive Model Test/Models/LGBM/Default/Graph_100/RYZEN3b_LGBM_IB_binary_logloss_100.png
Official Development/Extensive Model Test/Models/LGBM/Default/Graph_100/RYZEN3b_LGBM_TB_auc_100.png
Official Development/Extensive Model Test/Models/LGBM/Default/Graph_100/RYZEN3b_LGBM_TB_average_precision_100.png
Official Development/Extensive Model Test/Models/LGBM/Default/Graph_100/RYZEN3b_LGBM_TB_binary_logloss_100.png
Official Development/Extensive Model Test/Models/LGBM/Default/Graph_100/Thumbs.db
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_IB.model
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_IB_auc.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_IB_average_precision.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_IB_binary_logloss.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_IB_ClassReport.txt
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_IB_ConfMatrix.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_IB_tree.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_TB.model
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_TB_auc.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_TB_average_precision.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_TB_binary_logloss.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_TB_ClassReport.txt
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_TB_ConfMatrix.png
Official Development/Extensive Model Test/Models/LGBM/Default/RYZEN3b_LGBM_TB_tree.png
Official Development/Extensive Model Test/Models/LGBM/Default/Thumbs.db
Official Development/Extensive Model Test/Models/LGBM/LGBM_Training_Log.txt
Official Development/Extensive Model Test/Models/LGBM/LGBM_Tuning_Log.txt
Official Development/Extensive Model Test/Models/LGBM/Thumbs.db
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_IB.model
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_IB_auc.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_IB_average_precision.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_IB_binary_logloss.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_IB_ClassReport.txt
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_IB_ConfMatrix.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_IB_tree.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_TB.model
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_TB_auc.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_TB_average_precision.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_TB_binary_logloss.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_TB_ClassReport.txt
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_TB_ConfMatrix.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Auto Tuned/TUNED_RYZEN3b_LGBM_TB_tree.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Graph_100/TUNED_Manual_RYZEN3b_LGBM_IB_auc_100.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Graph_100/TUNED_Manual_RYZEN3b_LGBM_IB_average_precision_100.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Graph_100/TUNED_Manual_RYZEN3b_LGBM_IB_binary_logloss_100.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Graph_100/TUNED_Manual_RYZEN3b_LGBM_TB_auc_100.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Graph_100/TUNED_Manual_RYZEN3b_LGBM_TB_average_precision_100.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Graph_100/TUNED_Manual_RYZEN3b_LGBM_TB_binary_logloss_100.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/Thumbs.db
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_IB.model
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_IB_auc.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_IB_average_precision.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_IB_binary_logloss.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_IB_ClassReport.txt
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_IB_ConfMatrix.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_IB_tree.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_TB.model
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_TB_auc.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_TB_average_precision.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_TB_binary_logloss.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_TB_ClassReport.txt
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_TB_ConfMatrix.png
Official Development/Extensive Model Test/Models/LGBM/Tuned/TUNED_Manual_RYZEN3b_LGBM_TB_tree.png
Official Development/Extensive Model Test/Models/LGBM/Tuning/CVRes_1710227035.4790008.csv
Official Development/Extensive Model Test/Models/LGBM/Tuning/CVRes_1710290887.51205.csv
Official Development/Extensive Model Test/Models/LGBM/Tuning/Manual Selection/RYZEN3b_LGBM_IB.tune
Official Development/Extensive Model Test/Models/LGBM/Tuning/Manual Selection/RYZEN3b_LGBM_IB_Tune_CVRes.xlsx
Official Development/Extensive Model Test/Models/LGBM/Tuning/Manual Selection/RYZEN3b_LGBM_TB.tune
Official Development/Extensive Model Test/Models/LGBM/Tuning/Manual Selection/RYZEN3b_LGBM_TB_Tune_CVRes.xlsx
Official Development/Extensive Model Test/Models/LGBM/Tuning/Manual/RYZEN3b_LGBM_IB.tune
Official Development/Extensive Model Test/Models/LGBM/Tuning/Manual/RYZEN3b_LGBM_IB_Tune_CVRes.xlsx
Official Development/Extensive Model Test/Models/LGBM/Tuning/Manual/RYZEN3b_LGBM_TB.tune
Official Development/Extensive Model Test/Models/LGBM/Tuning/Manual/RYZEN3b_LGBM_TB_Tune_CVRes.xlsx
Official Development/Extensive Model Test/Models/LGBM/Tuning/RYZEN3b_IB_LGBM_HYPERPARAMS.png
Official Development/Extensive Model Test/Models/LGBM/Tuning/RYZEN3b_IB_LGBM_ITERATIONS.png
Official Development/Extensive Model Test/Models/LGBM/Tuning/RYZEN3b_LGBM_IB.tune
Official Development/Extensive Model Test/Models/LGBM/Tuning/RYZEN3b_LGBM_IB_Tune_CVRes.csv
Official Development/Extensive Model Test/Models/LGBM/Tuning/RYZEN3b_LGBM_TB.tune
Official Development/Extensive Model Test/Models/LGBM/Tuning/RYZEN3b_LGBM_TB_Tune_CVRes.csv
Official Development/Extensive Model Test/Models/LGBM/Tuning/RYZEN3b_TB_LGBM_HYPERPARAMS.png
Official Development/Extensive Model Test/Models/LGBM/Tuning/RYZEN3b_TB_LGBM_ITERATIONS.png
Official Development/Extensive Model Test/Models/LGBM/Tuning/Thumbs.db
Official Development/Extensive Model Test/LGBM_TB_Test.csv
Official Development/Extensive Model Test/CATB_TB_Test.csv
Official Development/Extensive Model Test/CATB_TB.csv
Official Development/Extensive Model Test/catboost_info/catboost_training.json
Official Development/Extensive Model Test/catboost_info/learn/events.out.tfevents
Official Development/Extensive Model Test/catboost_info/learn_error.tsv
Official Development/Extensive Model Test/catboost_info/time_left.tsv
